@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Change these colours as required */
:root {
  /** CSS PRIMARY COLOURS */
  --clr-primary-a0: #b09eea;
  --clr-primary-a10: #8a7cb6;
  --clr-primary-a20: #665c85;
  --clr-primary-a30: #443e57;
  --clr-primary-a40: #25222d;

  /** CSS ACCENT COLOURS */
  --clr-accent-a0: #9eead6;
  --clr-accent-a10: #7db6a7;
  --clr-accent-a20: #5d857a;
  --clr-accent-a30: #3e5751;
  --clr-accent-a40: #222d2a;

  /** CSS SEMANTIC COLOURS */
  --clr-Danger-a0: #b41c2b;
  --clr-Success-a0: #009f42;
  --clr-Warning-a0: #cc8800;
  --clr-Info-a0: #388cfa;

  /** CSS NEUTRAL COLOURS */
  --clr-neutral-a0: #ffffff;
  --clr-neutral-a10: #c6c6c6;
  --clr-neutral-a20: #919191;
  --clr-neutral-a30: #5e5e5e;
  --clr-neutral-a40: #303030;
  --clr-neutral-a50: #000000;

  --panel: rgba(var(--clr-neutral-a0), 0.8);
  --text-dark: var(--clr-neutral-a40);
  --text-light: var(--clr-neutral-a10);
  --background: var(--clr-neutral-a20);
}

/* @media (prefers-color-scheme: dark) {
    
  :root {

    CSS DARK THEME PRIMARY COLOURS
    --clr-primary-a0:  #b09eea;
    --clr-primary-a10:  #b9a8ed;
    --clr-primary-a20:  #c2b3ef;
    --clr-primary-a30:  #cbbef1;
    --clr-primary-a40:  #d4c8f4;
    --clr-primary-a50:  #ddd3f6;

    CSS DARK THEME SURFACE COLOURS
    --color-surface-100:  #121212;
    --color-surface-200:  #282828;
    --color-surface-300:  #3f3f3f;
    --color-surface-400:  #575757;
    --color-surface-500:  #717171;
    --color-surface-600:  #8b8b8b;

    CSS DARK THEME MIXED SURFACE COLOURS 
    --color-surface-mixed-100:  #201e24;
    --color-surface-mixed-200:  #353338;
    --color-surface-mixed-300:  #4b494e;
    --color-surface-mixed-400:  #626065;
    --color-surface-mixed-500:  #7a797d;
    --color-surface-mixed-600:  #939295;
  }
} */

/* Style Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  background-color: var(--clr-primary-a0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 3;
}

.hero-text {
    font-weight: 900;
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--text-dark);
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
    backdrop-filter: blur(10px);
  }

  a {
    color: var(--clr-primary-a0);
    background:
            linear-gradient(
                    to right,
                    rgb(255, 255, 255),
                    rgb(255, 255, 255)
            ),
            linear-gradient(
                    to right,
                    rgb(99, 0, 238),
                    rgb(99, 0, 238),
                    rgb(99, 0, 238)
            );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a:hover {
    background-size: 0 3px, 100% 3px;
}

.panel {
    background-color: var(--panel);
    flex-direction: column;
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #nav-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    gap: 2.5rem;
    padding-inline-start: 0 !important;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--text-dark);
    background-color: var(--panel);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }

  li .active{
    text-transform: uppercase;
    font-weight: 800;
}

.active {
  background-color: var(--clr-primary-a0);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.btn {
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    color: var(--text-dark);
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
  }
  
  .btn:hover {
    background-color: var(--tertiary);
    padding: 1.25rem;
    color: var(--text-light);
    cursor: pointer;
    font-weight: 900;
    box-shadow: 0px 5px 25px 10px rgba(0, 0, 0, 0.5);
  }
  

#hamburger {
    display: none;
  }

  @media screen and (max-width: 768px) {
    #nav-panel {
        position: fixed;
        left: 125%;
        top: 8rem;
        transition: 0.3s ease-in-out;
        z-index: 99;
      }
      #nav-panel::before {
        content: "Ethan Cornwill";
      }
    
      #nav-panel.active {
        left: 70%;
      }
    
      #hamburger.active {
        transform: rotate(90deg);
      }
    
    #hamburger {
        background-color: var(--primary);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: fixed;
        left: 85%;
        top: 2rem;
        display: block;
        cursor: pointer;
        z-index: 99;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
      }
  }